@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Avaliação - SideTech</h1>
    @Html.ActionLink("Gerenciar empresas", "Index", "Empresa")<br />
    @Html.ActionLink("Gerenciar funcionários", "Index", "Funcionario")
</div>
